.about{
    margin-top: 100px;
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    padding-top: 70px;
    width: 100%;
    text-align: center;
}
.about h1{
    font-size: 45px;
    margin: 10px 0;
    color: rgb(18, 82, 219);
}
.about .objective{
    width: 80%;
    margin: 10px auto;
}
.about .objective h3{
    font-size: 25px;
}
.about .objective p{
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0;
    margin-bottom: 40px;    
    letter-spacing: 1px;
}
.about .education{
    width: 100%;
    padding: 10px 0;
    
}
.about .education .card{
    border: 2px solid black;
    margin: 10px auto;
    width: 60%;
    padding: 20px;
    background: linear-gradient(260deg,rgb(135, 135, 185),rgb(166, 166, 236));
    border-radius: 30px;
}
.about .education .card h5{
    color: rgb(71, 70, 70);
    margin: 5px;
}
@media (max-width:430px) {
    .about .education .card{
        width: 90%;
    }   
}