*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.app{
  background: linear-gradient(60deg,pink,white);
  padding-top: 100px;
  /* background: linear-gradient(60deg,rgb(41, 35, 36),rgb(92, 86, 86)); */
  width: 100%;
}
.nav{
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
}
@media (max-width:430px){
  .app{
    background: linear-gradient(to right,pink,rgb(247, 230, 230));
    padding-top: 50px;
  }
}